$ffm: 'Montserrat', sans-serif;
$ffo: 'Open Sans', sans-serif;
$bl: #000;
$wh: #fff;
$teal: #077F83;
$blue: #24416B;
$orange: #EF7000;
$yellow: #F7B524;
$gray: #F8F8F8;
$gray2: #F3F4F8;
$dgray: #758799;